@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Open+Sans"); 
@import url("font-awesome.min.css");


/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
        font-family: 'Open Sans', sans-serif;
		vertical-align: baseline;
        
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
      
	}

	body {
        padding: 0px 0px 2px 0px;
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* footer */

	footer {
		margin-top: 2.5em;
	}

/*layout*/
header {
    /*
	background: rgb(76, 67, 65);
	margin-bottom: 16px;
	height: 66px;
	padding: 16px 0 0 16px;*/
    
}

	#header {
		position: fixed;
		z-index: 10000;
		left: 0;
		top: 0;
		width: 100%;
		background: rgba(255, 255, 255, .08);
		height: 4.75em;
       box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0);
	}


.whatWeDoImage1:hover {
    background-image:  url("../../images/data-dev.png");
    cursor: pointer;
    box-shadow: 0.4em 0.4em 1em olive;
      }


/* logo  */

	#logo {
		top: 0;
        font-family: sans-serif;
		line-height: 1em;
        margin-top: .25em;
		margin-bottom: 1em;
        margin-left: 10em;
        background-image: url("../../images/ledgly.png");    
        background-position: center, right;
        background-repeat: no-repeat;
        background-size: 65px;
	    width: 65px;
	    height: 65px;
		}

	#logo h3 {
		text-align: right;
		position: absolute;
		margin-left: 3em;
		font-size: 1.5em;
		font-weight: 500;
		color: darkslategray;
		}				


	#nav {
		position: absolute;
		right: 0.5em;
		top: 2.5em;
		height: 2.5em;
	}

	#nav ul {
			/*margin: 0; */
		}

	#nav ul li {
				display: inline;
			}
 
	#nav ul li a {
		margin-left: 0.5em;
        margin-top: 1em;
        margin-right: 1em;			
        line-height: 1em;
		padding: 0em 1.5em 0em 0.5em;
		outline: 0;
        font-family: sans-serif;
        font-weight: 600;
        cursor: pointer;
        color:#800000;
				}


.container {
  margin-left:  auto;
  margin-right:  auto;
  margin-top: 177px;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
}

.row:before, .row:after {
  display: table;
  content: " ";
}

.col-md-6 {
  width: 50%;
}

.col-md-push-3 {
  margin-left: 25%;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  margin: 0 0 20px 0;
}

.lead {
  font-size: 21px;
  font-weight: 200;
  margin-bottom: 20px;
}

p {
  margin: 0 0 10px;
}

a {
  color: #3282e6;
  text-decoration: none;
}







/* Footer */

#footer {
position: relative;
height: 0em;
line-height: 5em;
margin: 0;
background: #39454b;
color: #999;
color: rgba(185, 186, 187, .5);
overflow: hidden;
}

#footer a {
color: rgba(185, 186, 187, 0.5);
}

#footer a:hover {
color: #bbb;
color: #b9babb;
cursor: pointer;
}

#footer .actions {
position: absolute;
left: 1em;
top: 0.25em;
height: 5em;
line-height: 5em;
margin: 0;
}

#footer .actions li {
font-size: 1.25em;
margin: 0;
}

#footer .actions li a {
padding: 0.5em;
}

#footer .menu {
position: absolute;
right: 2em;
top: 0;
height: 5em;
line-height: 5em;
margin: 0;
}

#footer .menu li {
font-size: 0.9em;
}

		/* Footer */

#footer {
height: auto;
line-height: inherit;
text-align: center;
padding: 2em 1em 2em 1em;
}

#footer .actions {
	position: relative;
	left: 0;
	top: 0;
	height: auto;
	line-height: inherit;
	margin: 0 0 1em 0;
}

#footer .menu {
	position: relative;
	right: 0;
	top: 0;
	height: auto;
	line-height: inherit;
}

